<script id="secret">
  (function(){
    var postContent;
    var content;
    var blocker;

    function init() {
      content = document.querySelector('.post-content .content');
      postContent = content.parentElement;
      postContent.removeChild(content);
      blocker = document.querySelector('.post-content .blocker');

      var buff = 'rhdrlcjdwjdrl'.split('');
      var onKeyPress = function(e) {
        buff.shift();
        buff.push(e.key);
        if (buff.join('') === 'rhdrlcjdwjdrl') {
          open();
          document.body.removeEventListener('keypress', onKeyPress);
        }
      };
      document.body.addEventListener('keypress', onKeyPress);
    }

    function open() {
      blocker.parentElement.removeChild(blocker);
      postContent.appendChild(content);
      content.style.display = '';
    }

    init();
  })();

  var thisScript = document.querySelector('script#secret');
  thisScript.parentElement.removeChild(thisScript);
</script>